@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed";
}

section {
    display: flex;
    flex-wrap: wrap;
}

img{
    margin: 20px;
    box-shadow: 5px 5px 15px ;
    border-radius: 15px;
}