@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed";
}

section{
    background-color: rgb(147, 217, 233);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.carta{
    background-color: rgb(255, 255, 255);
    margin: 0 20px;
    width: 300px;
    height: 480px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 3px 10px;
}

h1{
    background-color: rgb(250, 128, 114);
    padding: 40px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.espacio {
    padding-top: 30px;
}

p{
    padding-top: 5px;
}

hr{
    margin: 6px 0;
    text-align: center;
    width: 80%;
    opacity: 0.5;
}

.contenido{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    height: 310px;
    
}

button{
    border: none;
    border-radius: 10px;
    padding: 15px 45px;
    background-color: rgba(192, 188, 188, 0.493);
}